$small: 700px;
$medium: 1200px;

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  mat-toolbar {
    height: 50px;

    a {
      color: white;
      text-decoration: none;
    }

    .toolbar-spacer {
      flex: 1 1 auto;
    }
  }

  .drawer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    flex: 1 1 auto;
    overflow: hidden auto;

    .drawer {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 10px;
      box-sizing: border-box;

      @media only screen and (min-width: $small) {
        width: 300px;
      }
    }

    ::ng-deep mat-drawer-content {
      overflow: visible;

      @media only screen and (max-width: $small) {
        width: 100%;
      }
    }

    .projects-wrapper {

      @media only screen and (max-width: $small) {
        width: 100%;
      }

      mat-grid-list {
        width: 100%;

        @media only screen and (min-width: $small) {
          width: 600px;
        }

        @media only screen and (min-width: $medium) {
          width: 900px;
        }

        mat-grid-tile {
          background-color: lightblue;
          overflow: visible;

          homaxi-project {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
