.project-wrapper {
  height: 100%;

  mat-card {
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;

    img {
      object-fit: cover;
      height: 180px;
    }
  }
}
